:root {
  --black: #222222;
  --blue: #005FA3;
  --gray: #EBEBEB
}
.btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 21px 56px;
  background: var(--blue);
  color: #fff;
  font-weight: 400;
  font-size: 18px
}
.btn_size-m {
  padding: 19px 38px
}
@media (max-width:540px) {
  .btn {
    padding: 15px 40px;
    font-size: 14px
  }
}
.slider-pagination {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.slider-pagination > span {
  cursor: pointer;
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: .4;
  border-radius: 50%;
  transition: .3s ease-in-out;
  transition-property: opacity
}
.slider-pagination > span:not(:last-child) {
  margin-right: 40px
}
.slider-pagination > span:hover {
  opacity: 1
}
@media (max-width:540px) {
  .slider-pagination > span:not(:last-child) {
    margin-right: 30px
  }
}
.slider-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.slider-nav button {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,.2);
  border: none;
  transition: .3s ease-in-out;
  transition-property: background
}
.slider-nav button:last-child span {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}
.slider-nav button:hover {
  background: rgba(255,255,255,.4)
}
.slider-nav button span {
  display: block;
  width: 15px
}
@media (max-width:540px) {
  .slider-nav button {
    width: 50px;
    height: 50px
  }
}
.slider-nav-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.slider_blue .slider-nav button {
  background: rgba(0,95,163,.2)
}
.slider_blue .slider-nav button:hover {
  background: #005fa3
}
.slider_blue .slider-pagination span {
  background: var(--blue)
}
.svg-image-arrow,
.svg-image-mail,
.svg-image-mail-w,
.svg-image-phone,
.svg-image-phone-w,
.svg-image-placeholder,
.svg-image-watch {
  background: url(../images/sprites/main.svg) no-repeat
}
.svg-image-arrow {
  background-position: 77.1929824561% 60.3773584906%;
  background-size: 435.2941176471% auto;
  width: 17px
}
.svg-image-arrow:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-image-arrow-dims {
  width: 17px;
  height: 17px
}
.svg-image-mail {
  background-position: 0 62.7450980392%;
  background-size: 296% auto;
  width: 25px
}
.svg-image-mail:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 76%
}
.svg-image-mail-dims {
  width: 25px;
  height: 19px
}
.svg-image-mail-w {
  background-position: 0 0;
  background-size: 176.1904761905% auto;
  width: 42px
}
.svg-image-mail-w:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 76.1904761905%
}
.svg-image-mail-w-dims {
  width: 42px;
  height: 32px
}
.svg-image-phone {
  background-position: 100% 0;
  background-size: 616.6666666667% auto;
  width: 12px
}
.svg-image-phone:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 166.6666666667%
}
.svg-image-phone-dims {
  width: 12px;
  height: 20px
}
.svg-image-phone-w {
  background-position: 77.7777777778% 0;
  background-size: 370% auto;
  width: 20px
}
.svg-image-phone-w:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 160%
}
.svg-image-phone-w-dims {
  width: 20px;
  height: 32px
}
.svg-image-placeholder {
  background-position: 45.4545454545% 62.7450980392%;
  background-size: 389.4736842105% auto;
  width: 19px
}
.svg-image-placeholder:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-image-placeholder-dims {
  width: 19px;
  height: 19px
}
.svg-image-watch {
  background-position: 0 100%;
  background-size: 389.4736842105% auto;
  width: 19px
}
.svg-image-watch:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-image-watch-dims {
  width: 19px;
  height: 19px
}
.image-by-height {
  width: auto
}
.image-by-height:before {
  content: none
}
.image-by-height > svg {
  height: inherit
}
.image-by-height > img {
  height: inherit!important;
  vertical-align: top!important;
  margin: 0!important;
  padding: 0!important;
  max-width: none!important;
  max-height: none!important;
  border: 0!important;
  opacity: 0!important
}
* {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent
}
html.is-locked {
  height: calc(var(--window-height) - 1px);
  overflow: hidden
}
html.is-locked body {
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--window-height)
}
html {
  overflow-x: hidden
}
body,
html {
  min-width: 360px
}
body {
  overflow-x: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Lato,sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background: #fff;
  position: relative;
  will-change: scroll-position
}
section {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700
}
.h2,
h2 {
  font-family: Merriweather;
  font-weight: 900;
  font-size: 48px
}
@media (max-width:540px) {
  .h2,
  h2 {
    font-size: 36px
  }
}
.h3,
h3 {
  font-weight: 600;
  font-size: 24px
}
.h4,
h4 {
  font-weight: 900;
  font-size: 18px
}
@media (max-width:540px) {
  .h4,
  h4 {
    font-size: 16px
  }
}
p {
  font-size: 18px
}
a {
  color: inherit;
  text-decoration: none
}
blockquote,
q {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
  quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none
}
ol,
ul {
  list-style: none
}
img,
picture {
  display: block;
  -o-object-fit: cover;
  object-fit: cover
}
picture img {
  height: 100%;
  width: 100%
}
button {
  font-size: 1em;
  cursor: pointer
}
button,
input,
textarea {
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit
}
input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0
}
input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0
}
.container {
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto
}
.icon {
  display: block;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none
}
.bg-image {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  display: block
}
.bg-section {
  background: var(--gray)
}
.pt-140 {
  padding: 140px 0
}
@media (max-width:950px) {
  .pt-140 {
    padding: 100px 0
  }
}
@media (max-width:540px) {
  .pt-140 {
    padding: 70px 0
  }
}
.pt-100 {
  padding: 100px 0
}
@media (max-width:540px) {
  .pt-100 {
    padding: 80px 0
  }
}
.header {
  padding-top: 22px;
  padding-bottom: 31px
}
.header > .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.header__logo {
  display: block;
  width: 215px
}
@media (max-width:540px) {
  .header__logo {
    width: 110px
  }
}
.header__logo img {
  width: 100%
}
.header__info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header__info li {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 13px;
  color: #000
}
.header__info li:not(:first-child) {
  margin-left: 20px
}
.header__info li:first-child span {
  width: 12px
}
.header__info li span {
  display: block;
  width: 17px;
  margin-right: 15px
}
.header__nav {
  margin-top: 22px;
  color: var(--black);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header__nav a:not(:first-child) {
  margin-left: 20px
}
.header__nav-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
@media (max-width:950px) {
  .header__nav-wrapper {
    display: none
  }
}
.main {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.banner {
  position: relative;
  padding-top: 170px;
  padding-bottom: 113px
}
@media (max-width:950px) {
  .banner {
    padding-top: 110px;
    padding-bottom: 70px
  }
}
@media (max-width:540px) {
  .banner {
    padding-top: 80px;
    padding-bottom: 50px
  }
}
.banner picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: block;
  background: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.6))
}
.banner h2 {
  font-weight: 700;
  color: #fff;
  max-width: 590px
}
.banner .btn {
  margin-top: 80px
}
@media (max-width:950px) {
  .banner .btn {
    margin-top: 70px
  }
}
@media (max-width:950px) {
  .banner .btn {
    margin-top: 40px
  }
}
.banner .slider-nav-row {
  margin-top: 120px
}
@media (max-width:950px) {
  .banner .slider-nav-row {
    margin-top: 100px
  }
}
@media (max-width:950px) {
  .banner .slider-nav-row {
    margin-top: 60px
  }
}
.services .card-list {
  margin-top: 102px
}
@media (max-width:950px) {
  .services .card-list {
    margin-top: 80px
  }
}
@media (max-width:540px) {
  .services .card-list {
    margin-top: 60px
  }
}
@media (max-width:400px) {
  .services h2 {
    font-size: 28px
  }
}
.info-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.info-block__sub-title {
  color: #bdbdbd
}
.info-block__title {
  color: #333;
  margin-top: 40px
}
.info-block__title span {
  color: var(--blue)
}
.card {
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #fff;
  position: relative;
  z-index: 1;
  padding: 45px;
  width: 100%
}
@media (min-width:540px) {
  .card:hover::before {
    background: rgba(0,95,163,.65)
  }
}
.card::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  background: rgba(0,0,0,.65);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .3s ease-in-out;
  transition-property: background
}
.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 360px;
  gap: 30px
}
@media (max-width:950px) {
  .card-list {
    grid-template-columns: 1fr 1fr
  }
}
@media (max-width:720px) {
  .card-list {
    grid-template-columns: 1fr
  }
}
.about .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
@media (max-width:950px) {
  .about .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.about__statistics {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none
}
@media (max-width:950px) {
  .about__statistics {
    margin-top: 60px
  }
}
.about__info {
  max-width: 445px;
  margin-right: 125px
}
@media (max-width:950px) {
  .about__info {
    max-width: none;
    margin-right: 0
  }
}
.about__info .info-block {
  max-width: 347px
}
.about__info p {
  margin-top: 60px
}
.statistic-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: var(--gray);
  padding: 30px 40px 40px 40px;
  color: #000
}
.statistic-card h3 {
  font-weight: 900;
  font-size: 55px;
  letter-spacing: .1em
}
.statistic-card p {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  max-width: 140px
}
.statistic-card a {
  margin-top: auto;
  font-weight: 700;
  font-size: 14px;
  color: var(--blue);
  text-decoration: underline
}
@media (min-width:540px) {
  .statistic-card a:hover {
    text-decoration: none
  }
}
.statistic-card_blue {
  background: var(--blue);
  color: #fff
}
.statistic-card_blue a {
  color: inherit
}
.statistic-card-list {
  display: grid;
  grid-template-columns: 255px 255px;
  grid-auto-rows: 255px;
  gap: 30px
}
@media (max-width:950px) {
  .statistic-card-list {
    grid-template-columns: 1fr 1fr
  }
}
@media (max-width:540px) {
  .statistic-card-list {
    grid-template-columns: 1fr
  }
}
.clients__list {
  margin-top: 80px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
@media (max-width:720px) {
  .clients__list {
    margin-top: 60px
  }
}
.clients__list picture {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block
}
.clients__list picture:not(:first-child) {
  margin-left: 42px
}
.clients .slider-nav-row {
  margin-top: 100px
}
@media (max-width:720px) {
  .clients .slider-nav-row {
    margin-top: 70px
  }
}
.reviews__card {
  margin-top: 80px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: var(--gray);
  padding: 45px 95px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
@media (max-width:720px) {
  .reviews__card {
    margin-top: 60px
  }
}
@media (max-width:720px) {
  .reviews__card {
    padding: 35px 70px
  }
}
@media (max-width:540px) {
  .reviews__card {
    padding: 30px 50px
  }
}
.reviews__card p {
  font-weight: 400;
  font-size: 18px
}
.reviews__card-user {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 58px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
@media (max-width:720px) {
  .reviews__card-user {
    margin-top: 45px
  }
}
.reviews__card-user img {
  border-radius: 100px;
  width: 80px;
  height: 80px
}
.reviews__card-user-info {
  margin-left: 35px
}
.reviews__card-user-info span {
  font-weight: 400;
  font-size: 14px
}
.reviews .slider-nav-row {
  margin-top: 100px
}
@media (max-width:720px) {
  .reviews .slider-nav-row {
    margin-top: 70px
  }
}
.contact-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.contact-form__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
@media (max-width:1100px) {
  .contact-form__row {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.contact-form__row .input:not(:first-child) {
  margin-left: 30px
}
@media (max-width:1100px) {
  .contact-form__row .input:not(:first-child) {
    margin-left: 0;
    margin-top: 30px
  }
}
.contact-form__message {
  margin-top: 30px
}
.contact-form__button {
  margin-left: auto;
  margin-top: 50px
}
@media (max-width:540px) {
  .contact-form__button {
    width: 100%;
    margin-left: 0
  }
}
.input {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #fff
}
.input span {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none
}
.input input,
.input textarea {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  background: 0 0;
  border: none;
  border-radius: 0;
  height: 51px;
  font-weight: 400;
  font-size: 21px;
  color: #fff
}
.input input:placeholder,
.input textarea:placeholder {
  color: #bdbdbd;
  font-weight: 300
}
.input textarea {
  resize: none;
  height: 100px;
  margin-top: 15px
}
.footer picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: block;
  background: linear-gradient(0deg,rgba(0,0,0,.8),rgba(0,0,0,.8))
}
.footer .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
@media (max-width:950px) {
  .footer .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.footer__main {
  position: relative;
  padding-top: 122px;
  padding-bottom: 140px;
  color: #fff
}
@media (max-width:950px) {
  .footer__main {
    padding-top: 110px;
    padding-bottom: 130px
  }
}
@media (max-width:540px) {
  .footer__main {
    padding-top: 80px;
    padding-bottom: 100px
  }
}
.footer__main-info {
  margin-right: 101px
}
@media (max-width:1100px) {
  .footer__main-info {
    margin-right: 80px;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none
  }
}
@media (max-width:950px) {
  .footer__main-info {
    margin-right: 0
  }
}
.footer__main-info p {
  max-width: 445px;
  margin-top: 60px;
  font-weight: 300
}
@media (max-width:950px) {
  .footer__main-info p {
    margin-top: 45px
  }
}
.footer__main-info-contacts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px
}
@media (max-width:950px) {
  .footer__main-info-contacts {
    margin-top: 60px
  }
}
@media (max-width:540px) {
  .footer__main-info-contacts {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.footer__main-info-contacts li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 300;
  font-size: 21px
}
.footer__main-info-contacts li:not(:first-child) {
  margin-left: 40px
}
@media (max-width:540px) {
  .footer__main-info-contacts li:not(:first-child) {
    margin-left: 0;
    margin-top: 30px
  }
}
.footer__main-info-contacts li:first-child span {
  width: 17px
}
.footer__main-info-contacts li span {
  margin-right: 15px;
  width: 40px
}
.footer__main .contact-form {
  margin-top: 20px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}
@media (max-width:950px) {
  .footer__main .contact-form {
    width: 100%;
    margin-top: 60px
  }
}
.footer__underline {
  padding-top: 50px;
  padding-bottom: 40px
}
@media (max-width:720px) {
  .footer__underline {
    padding-top: 25px;
    padding-bottom: 30px
  }
}
.footer__underline .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
@media (max-width:950px) {
  .footer__underline .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.footer__underline .container span {
  display: block;
  font-weight: 300;
  font-size: 14px
}
@media (max-width:950px) {
  .footer__underline .container span:not(:first-child) {
    margin-top: 15px
  }
}
/*# sourceMappingURL=maps/main.css.map */
