mixin about(obj = {})
    -
        obj = {
            tag: 'section',
            subTitle: 'О нас',
            title: 'Компания <span>ИвановПром</span>',
            ...obj
        }
    #{obj.tag}.about&attributes(attributes)
        .container
            .about__info
                +info-block({
                    subTitle: obj.subTitle,
                    title: obj.title
                })
                p 
                    |Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
            +statistic-card-list().about__statistics